---
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: "https://vaultwarden.local.dontddos.me"
      ADMIN_TOKEN: ${ADMIN_TOKEN}
    volumes:
      - /opt/containers/vaultwarden/data/:/data/
    networks:
      - newt

networks:
  newt:
    external: true