---
services:
  adguard-home:
    image: adguard/adguardhome
    container_name: adguard-home
    ports:
      - 53:53/tcp
      - 53:53/udp
    volumes:
      - /opt/containers/adguard-home/workdir:/opt/adguardhome/work
      - /opt/containers/adguard-home/confdir:/opt/adguardhome/conf
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true