---
services:
  adguard-home:
    image: adguard/adguardhome
    container_name: adguard-home
    ports:
      - 53:53/tcp
      - 53:53/udp
    volumes:
      - /opt/containers/adguard-home/workdir:/opt/adguardhome/work
      - /opt/containers/adguard-home/confdir:/opt/adguardhome/conf
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.services.adguard-home-web.loadBalancer.server.port=80
      - traefik.http.routers.adguard-home-http.service=adguard-home-web
      - traefik.http.routers.adguard-home-http.rule=Host(`adguard-home.local.dontddos.me`)
      - traefik.http.routers.adguard-home-http.entrypoints=web
      - traefik.http.routers.adguard-home-https.service=adguard-home-web
      - traefik.http.routers.adguard-home-https.rule=Host(`adguard-home.local.dontddos.me`)
      - traefik.http.routers.adguard-home-https.entrypoints=websecure
      - traefik.http.routers.adguard-home-https.tls=true
      - traefik.http.routers.adguard-home-https.tls.certresolver=cloudflare
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true