---
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /opt/containers/jellyfin/jellyfin/library:/config
      - /mnt/media/tvseries:/data/tvshows
      - /mnt/media/movies:/data/movies
    networks:
      - newt
    restart: unless-stopped

networks:
  newt:
    external: true