apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harbor-helm
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: harbor
  project: default
  sources:
    - chart: harbor
      repoURL: https://cloudnative-pg.github.io/charts
      targetRevision: 1.18.2
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true