---
services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    environment:
      - PUID=1000
      - PGID=1000
      - APP_KEY=${APP_KEY}
      - APP_URL=https://speedtest-tracker.local.dontddos.me
      - DB_CONNECTION=sqlite
      - PUBLIC_DASHBOARD=true
      - SPEEDTEST_SCHEDULE=*/5 * * * *
    volumes:
      - /opt/containers/speedtest-tracker/data:/config
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true