---
services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    environment:
      - PUID=1000
      - PGID=1000
      - APP_KEY=${APP_KEY}
      - DB_CONNECTION=sqlite
    volumes:
      - ./data:/config
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true