apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-test
  namespace: nginx
spec:
  selector:
    matchLabels:
      app: nginx-test
  template:
    metadata:
      labels:
        app: nginx-test
    spec:
      containers:
      - name: nginx
        image: nginx
