apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: netbox-helm
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: netbox
  project: default
  sources:
    - chart: netbox
      repoURL: https://netbox.github.io/charts
      targetRevision: 7.3.1
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true