apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-dbc
  namespace: immich
spec:
  instances: 3
  monitoring:
    enablePodMonitor: true
  storage:
    size: 8Gi
    storageClass: longhorn-single
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: required
  bootstrap:
    initdb:
      database: immich
      owner: immich