apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: coder
  namespace: coder
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`coder.local.dontddos.me`)
      kind: Rule
      services:
        - name: coder
          port: 80